@model AccountingProject.Web.ViewModels.Transactions.CreateTransactionInputModel
@{
    this.ViewData["Title"] = "Create a transaction";
    var documents = this.Model.Documents.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var counterparties = this.Model.Counterparties.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var mainAccounts = this.Model.MainAccounts.Select(x => new SelectListItem(x.Value, x.Key));
    var debitAnalyticalAccounts = new List<SelectListItem>();
    var creditAnalyticalAccounts = new List<SelectListItem>();
    if (this.Model.DebitAnalyticalAccounts!=null)
    {
        debitAnalyticalAccounts = this.Model.DebitAnalyticalAccounts.Select(x => new SelectListItem(x.Name, x.Id.ToString())).ToList();
    }

    if (this.Model.CreditAnalyticalAccounts!=null)
    {
        creditAnalyticalAccounts = this.Model.CreditAnalyticalAccounts.Select(x => new SelectListItem(x.Name, x.Id.ToString())).ToList();
    }
}

@if (this.TempData.ContainsKey("Message"))
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    @this.TempData["Message"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<h1 class="mx-auto w-50">@this.ViewData["Title"]</h1>

<form class="mx-auto w-50" method="post">
    <fieldset>
        <partial name="_TransactionInputViewPartial" model="Model" />
        <div class="form-group">
            <label asp-for="DebitMainAccountId"></label>
            <select asp-for="DebitMainAccountId" asp-items="mainAccounts" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="DebitMainAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DebitAnalyticalAccountId" class="control-label"></label>
            <select asp-for="DebitAnalyticalAccountId" asp-items="debitAnalyticalAccounts" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="DebitAnalyticalAccountId" class="text-danger"></span>
        </div>        
        <div class="form-group">
            <label asp-for="CreditMainAccountId"></label>
            <select asp-for="CreditMainAccountId" asp-items="mainAccounts" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="CreditMainAccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreditAnalyticalAccountId" class="control-label"></label>
            <select asp-for="CreditAnalyticalAccountId" asp-items="creditAnalyticalAccounts" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="CreditAnalyticalAccountId" class="text-danger"></span>
        </div>        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-block btn-primary text-white mb-3">Create</button>
        </div>
    </fieldset>
</form>

@section Scripts {
    <script src="~/js/loadAnalyticalAccountsTwoFields.js"></script>
}

