@model AccountingProject.Web.ViewModels.Inventories.CreateInventoryInputModel
@{
    this.ViewData["Title"] = "Create an inventory";
}

<h1 class="mx-auto w-50">@this.ViewData["Title"]</h1>

<form class="mx-auto w-50" method="post">
    <fieldset>   
        <partial name="_InventoryInputViewModelPartial"  model="Model" />
        <cache expires-sliding="TimeSpan.FromSeconds(30)">
            <vc:list-main-accounts main-account-id="@Model.MainAccountId" type-of-account="inventory"></vc:list-main-accounts>
        </cache> 
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-block btn-primary text-white mb-3">Create</button>
            </div>
    </fieldset>
</form>

