@model AccountingProject.Web.ViewModels.GLAccounts.EditMainAccountInputModel
@{
    this.ViewData["Title"] = "Edit a Main Account";
}

<h1 class="mx-auto w-50">@this.ViewData["Title"]</h1>

<form class="mx-auto w-50" method="post" id="editForm">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsInventory"></label>
        <select class="custom-select" asp-for="IsInventory">
            <option value="False">False</option>
            <option value="True">True</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="IsFixedAsset"></label>
        <select class="custom-select" asp-for="IsFixedAsset">
            <option value="False">False</option>
            <option value="True">True</option>
        </select>
    </div>
    <hr />
    <input type="hidden" asp-for="Id" />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Save changes</button>
    </div>
</form>


