@model AccountingProject.Web.ViewModels.ViewComponents.ListOfMainAccountsViewModel
@{
    var mainAccounts = this.Model.MainAccounts.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="form-group">
    <label asp-for="MainAccountId"></label>
    <select asp-for="MainAccountId" asp-items="mainAccounts" class="form-control">
        <option value=""></option>
    </select>
    <span asp-validation-for="MainAccountId" class="text-danger"></span>
</div>
